{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Trailpal : Organise and manage your trails </p>
    <p class="box">
      <i class="fas fa-shoe-prints fa-5x" style="color:brown"></i>
      <i class="fas fa-tree fa-10x" style="color:darkgreen"></i>
      <i class="fas fa-hiking fa-5x" style="color:navy"></i>
    </p>
  </div>
</section>