<form action="/dashboard/addtraillist" method="POST">
  <div class="field">
    <label class="label">Trail List Title</label> <input class="input" type="text" placeholder="Enter traillist title" name="title">
  </div>
  <button class="button is-link">Add Trail List</button>
</form>