<form class="box" action="/traillist/{{traillist._id}}/addtrail" method="POST">
  <label>Enter Trail Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter County" name="county">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latt" name="latt">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Long" name="long">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Trail</button>
</form>